<!-- MAIN CONTENT -->
<div id="content" ng-init="$vm.Init()">

	<div class="row">
		<big-breadcrumbs items="['SelfWork', 'AssistantJobs']" icon="cube" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
	</div>

	<!-- widget grid -->
	<section id="widget-grid" data-widget-grid>
	    <!-- row -->
	    <div class="row">

	        <!-- NEW WIDGET START -->
	        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	        	<!-- Widget ID (each widget will need unique ID)-->
				<div id="billboard" data-widget-sortable="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-color="blue" data-jarvis-widget>
				    <!-- widget options:
				        usage: <div data-jarvis-widget id="wid-id-0" data-widget-editbutton="false">
				        data-widget-colorbutton="false"
				        data-widget-editbutton="false"
				        data-widget-togglebutton="false"
				        data-widget-deletebutton="false"
				        data-widget-fullscreenbutton="false"
				        data-widget-custombutton="false"
				        data-widget-collapsed="true"
				        data-widget-sortable="false"
				    -->
				    <header>
				        <h2>作業區 </h2>

				        <ul id="widget-tab-1" class="nav pull-right" ng-class="{'nav-tabs' : !!ShowTabs, 'nav-pills': !ShowTabs }">
				            <li ng-class="$vm.TabSwitch('hr1')" ng-click="$vm.defaultTab='hr1';$vm.LoadData()">
				                <a data-toggle="tab" href="#hr1"> <i class="fa fa-lg fa-hand-o-down"></i> <span class="hidden-mobile hidden-tablet"> 改走 </span> </a>
				            </li>
				            <li ng-class="$vm.TabSwitch('hr2')" ng-click="$vm.defaultTab='hr2';$vm.LoadData()">
				                <a data-toggle="tab" href="#hr2"> <i class="fa fa-lg fa-puzzle-piece"></i> <span class="hidden-mobile hidden-tablet"> 拉貨 </span></a>
				            </li>
				        </ul>

				    </header>
				    <!-- widget div-->
				    <div>
				        <!-- widget content -->
						<div class="widget-body no-padding">

							<!-- widget body text-->
				            <div class="tab-content no-padding">
				                <div class="tab-pane fade in " ng-class="$vm.TabSwitch('hr1')" id="hr1">

									<!-- <div class="widget-body-toolbar">
									    <div class="row">
									        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
									        	<form class="form-inline" role="form">
									                <fieldset>
									                    <div class="form-group">
															<i class="fa fa-circle-o"> 已派單</i>
															<i class="fa fa-circle text-warning"> 已編輯</i>
															<i class="fa fa-circle text-success"> 已完成</i>
									                    </div>
									                </fieldset>
									            </form>
									        </div>
									        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 text-right">
									        	<form class="form-inline" role="form">
									                <fieldset>
									                    <div class="form-group">
															<select class="form-control" ng-model="$vm.selectAssignDept" ng-change="$vm.LoadPrincipal()" ng-options="data.value as data.label for data in $vm.assignGradeData">
			  												</select>
									                    </div>
									                    <div class="form-group">
															<select class="form-control" ng-model="$vm.selectAssignPrincipal" ng-options="data.value as data.label for data in $vm.assignPrincipalData[$vm.selectAssignDept]">
			  													<option value="">-- 請選擇負責人 --</option>
			  												</select>
									                    </div>
									                    <div class="form-group">
												            <button class="btn btn-primary"
												            		ng-disabled="$vm.orderListGridApi.selection.getSelectedRows().length == 0 || $vm.selectAssignPrincipal == undefined"
												            		ng-click="$vm.CustomizeAssign()">
												                自訂指派
												            </button>
									                    </div>
									                    <div class="form-group">
												            <button class="btn btn-primary"
												            		ng-click="$vm.AutoAssign()">
												                自動分派
												            </button>
									                    </div>
									                    <div class="form-group">
												            <button class="btn btn-danger"
												            		ng-disabled="$vm.orderListGridApi.selection.getSelectedRows().length == 0"
												            		ng-click="$vm.CancelPrincipal()">
												                取消/取回
												            </button>
									                    </div>
									                </fieldset>
									            </form>
									        </div>
									    </div>
									</div> -->

									<!-- <div id="grid1" ui-grid="$vm.orderListOptions" class="my-ui-grid" ui-grid-pagination ui-grid-resize-columns ui-grid-selection ui-grid-auto-resize></div> -->

				                </div>
				                <div class="tab-pane fade in " ng-class="$vm.TabSwitch('hr2')" id="hr2">

									<!-- <div class="widget-body-toolbar">
									    <div class="row">
									        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
									        </div>
									        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
									        	<form class="form-inline" role="form">
									                <fieldset>
									                    <div class="form-group">
												            <button class="btn btn-success"
												            		ng-disabled="$vm.compyStatisticsData.length == 0"
												            		ng-click="$vm.ExportExcel()">
												                匯出Excel
												            </button>
									                    </div>
									                </fieldset>
									            </form>
									        </div>
									    </div>
									</div> -->

									<div id="grid1" ui-grid="$vm.pullGoodsOptions" class="my-ui-grid" ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize></div>
				                </div>
				            </div>
						</div>
						<!-- end widget content -->
				    </div>
				    <!-- end widget div -->
				</div>
				<!-- end widget -->
	        </article>
	        <!-- End WIDGET START -->

	    </div>
	</section>

</div>

<script type="text/ng-template" id="modifyModalContent.html">
    <div class="modal-header">
	    <h3 class="modal-title" id="modal-title">編輯</h3>
	</div>
	<div class="modal-body" id="modal-body">
	    <form class="form-horizontal" name="modifyForm">
			<fieldset>
				<div class="form-group">
			        <label class="col-md-2 control-label">航班</label>
			        <div class="col-md-10">
			            <input class="form-control" name="OL_FLIGHTNO" placeholder="請輸入航班(改)" ng-model="$ctrl.mdData.PG_FLIGHTNO" type="text" required>
			        </div>
			    </div>
				<div class="form-group">
			        <label class="col-md-2 control-label">主號</label>
			        <div class="col-md-10">
			            <input class="form-control" name="OL_MASTER" placeholder="請輸入主號(改)" ng-model="$ctrl.mdData.PG_MASTER" type="text" required>
			        </div>
			    </div>
			</fieldset>
	    </form>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()" ng-disabled="!modifyForm.$valid">{{getWord('OK')}}</button>
	    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">{{getWord('Cancel')}}</button>
	</div>
</script>