<div id="content">

	<div class="row">
		<big-breadcrumbs items="['Settings', 'Billboard Editor']" icon="newspaper-o" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
	</div>

	<!-- widget grid -->
	<section id="widget-grid" data-widget-grid>
	    <!-- row -->
	    <div class="row">

	        <!-- NEW WIDGET START -->
	        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	        	<!-- Widget ID (each widget will need unique ID)-->
				<div id="managementSettings" data-widget-sortable="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-color="blue" data-jarvis-widget ng-init="ShowTabs = true">
				    <!-- widget options:
				        usage: <div data-jarvis-widget id="wid-id-0" data-widget-editbutton="false">
				        data-widget-colorbutton="false"
				        data-widget-editbutton="false"
				        data-widget-togglebutton="false"
				        data-widget-deletebutton="false"
				        data-widget-fullscreenbutton="false"
				        data-widget-custombutton="false"
				        data-widget-collapsed="true"
				        data-widget-sortable="false"
				    -->
				    <header>
				        <h2>公佈欄 </h2>

				        <div class="widget-toolbar" role="menu">
				            <a href-void="" class="btn btn-primary" href="#"
			            	   ng-click="$vm.AddNews()" >{{getWord('Add News')}}</a>
				        </div>

				        <ul id="widget-tab-1" class="nav pull-right" ng-class="{'nav-tabs' : !!ShowTabs, 'nav-pills': !ShowTabs }">
				            <li class="active">
				                <a data-toggle="tab" href="#hr1"> <i class="fa fa-lg fa-building-o"></i> <span class="hidden-mobile hidden-tablet"> 對外 </span> </a>
				            </li>
				            <li>
				                <a data-toggle="tab" href="#hr2"> <i class="fa fa-lg fa-building"></i> <span class="hidden-mobile hidden-tablet"> 對內 </span></a>
				            </li>
				        </ul>

				    </header>
				    <!-- widget div-->
				    <div>
				        <!-- widget content -->
						<div class="widget-body no-padding">

				            <!-- widget body text-->
				            <div class="tab-content no-padding">
				                <div class="tab-pane fade in active" id="hr1">

									<!-- <div id="grid1" ui-grid="$vm.accountManagementOptions" class="my-ui-grid" ui-grid-pagination ui-grid-resize-columns></div> -->
				                </div>
				                <div class="tab-pane fade" id="hr2">
				                    <h4 class="alert alert-warning"> Checkout the <a href="general-elements.html">General Elements</a> page for more tab options </h4>
				                    Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
				                </div>
				            </div>

							<!-- <div class="table-responsive">

								<div id="grid1" ui-grid="$vm.historySearchOptions" class="my-ui-grid" ui-grid-pagination ui-grid-resize-columns></div>

							</div> -->

						</div>
						<!-- end widget content -->
				    </div>
				    <!-- end widget div -->
				</div>
				<!-- end widget -->
	        </article>
	        <!-- End WIDGET START -->

	    </div>
	</section>

</div>