<!-- MAIN CONTENT -->
<div id="content" ng-init="$vm.Init()">

	<div class="row">
		<big-breadcrumbs items="$vm.bigBreadcrumbsItems" icon="file-text-o" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
	</div>

	<!-- widget grid -->
	<section id="widget-grid" data-widget-grid>
	    <!-- row -->
	    <div class="row">

	        <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-5ths col-lg-5ths">

                <div class="well well-sm bg-color-greenDark txt-color-white text-center">
                    主號
                    <code>{{$vm.vmData.OL_MASTER}}</code>
                </div>

            </article>

            <article class="col-xs-12 col-sm-12 col-md-5ths col-lg-5ths">

                <div class="well well-sm bg-color-blue txt-color-white text-center">
                    航班
                    <code>{{$vm.vmData.OL_FLIGHTNO}}</code>
                </div>

            </article>

            <article class="col-xs-12 col-sm-12 col-md-5ths col-lg-5ths">

                <div class="well well-sm bg-color-teal txt-color-white text-center">
                    進口日期
                    <code>{{$vm.vmData.OL_IMPORTDT | dateFilter}}</code>
                </div>

            </article>

            <article class="col-xs-12 col-sm-12 col-md-5ths col-lg-5ths">

                <div class="well well-sm bg-color-magenta txt-color-white text-center">
                    國別
                    <code>{{$vm.vmData.OL_COUNTRY}}</code>
                </div>

            </article>

            <article class="col-xs-12 col-sm-12 col-md-5ths col-lg-5ths">

                <div class="well well-sm bg-color-blueLight txt-color-white text-center">
                    行家
                    <code>{{$vm.vmData.OL_CO_CODE | compyFilter}}</code>
                </div>

            </article>
	        <!-- End WIDGET START -->

	        <!-- NEW WIDGET START -->
	        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	        	<!-- Widget ID (each widget will need unique ID)-->
				<div id="job003" data-widget-sortable="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-color="blue" data-jarvis-widget>
				    <!-- widget options:
				        usage: <div data-jarvis-widget id="wid-id-0" data-widget-editbutton="false">
				        data-widget-colorbutton="false"
				        data-widget-editbutton="false"
				        data-widget-togglebutton="false"
				        data-widget-deletebutton="false"
				        data-widget-fullscreenbutton="false"
				        data-widget-custombutton="false"
				        data-widget-collapsed="true"
				        data-widget-sortable="false"
				    -->
				    <header>
				        <h2>編輯 </h2>
				        
				        <div class="widget-toolbar smart-form" role="menu">
				            <!-- <a href-void="" class="btn btn-success" href="#" ng-click="$vm.ExportExcel()">匯出Excel</a> -->
				        </div>
				    </header>
				    <!-- widget div-->
				    <div>
				        <!-- widget content -->
						<div class="widget-body no-padding">

							<div class="widget-body-toolbar">
							    <div class="row">
							        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
							        	<!-- <form class="form-inline" role="form">
							                <fieldset>
							                    <div class="form-group">
											        <label class="control-label">標籤說明：</label>
											        <span>
														<span class="cell-class-ban"> 黑名單</span>
														<span class="cell-class-pull"> 拉貨</span>
														<span class="cell-class-special"> 特貨</span>
														<span class="text-primary"> 可編輯欄位</span>
											        </span>
							                    </div>
							                </fieldset>
							            </form>
							        	<form class="form-inline" role="form">
							                <fieldset>
							                    <div class="form-group">
											        <label class="control-label">班機表已匯：</label>
											        <span>
														<i ng-class="$vm.vmData.FLIGHT_EXPORT >= 1 ? 'fa fa-check text-success' : 'fa fa-remove text-danger'"></i>
											        </span>
											        <label class="control-label">｜</label>
											        <label class="control-label">關貿已匯：</label>
											        <span>
														<i ng-class="$vm.vmData.TRADE_EXPORT >= 1 ? 'fa fa-check text-success' : 'fa fa-remove text-danger'"></i>
											        </span>
							                    </div>
							                </fieldset>
							            </form> -->
							        </div>
							        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 text-right">
							        	<form class="form-inline" role="form">
							                <fieldset>
							                    <div class="form-group">
										            <button class="btn btn-primary"
										            		ng-click="$vm.SyncClearance()">
										                貨態同步
										            </button>
										            <button class="btn btn-danger"
										            		ng-click="$vm.ProblemClearance()">
										                貨態異常
										            </button>
							                    </div>
							                </fieldset>
							            </form>
							        </div>
							    </div>
							</div>

							<div class="table-responsive">

								<div id="grid1" ui-grid="$vm.job003Options" class="my-ui-grid" ui-grid-pagination ui-grid-resize-columns ui-grid-pinning></div>

							</div>

							<!-- widget footer -->
							<div class="widget-footer">
								<button class="btn btn-default" type="button" ng-click="$vm.Return()">
									返回
								</button>
								<!-- <button class="btn btn-sm btn-warning" type="button" ng-click="$vm.Update()">
					                <i class="fa fa-save"></i>
									更新
								</button> -->	
							</div>
							<!-- end widget footer -->

						</div>
						<!-- end widget content -->
				    </div>
				    <!-- end widget div -->
				</div>
				<!-- end widget -->
	        </article>
	        <!-- End WIDGET START -->

	    </div>
	</section>

</div>